.poster {
    margin-bottom: 21px;
}

.poster__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 425px) {
    .poster {
        margin-bottom: 12px;
    }
}