.count22 {
    position: relative;
}

.count2 {
    position: absolute;
    bottom: -5px;
    left: 10px;
    color: var(--color-light-white);
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 2px 6px;
    border-radius: 100%;
    background-color: var(--color-light-purple);
}

.menu li {
    margin-bottom: 10px;
}

.close {
    position: absolute;
    right: 46px;
    top: 18px;
}

.count__text {
    color: var(--color-dark-white);
}