.user {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 100vh;
    padding: 18px 28px 20px 28px;
    z-index: 15;
    background-color: #0e0e0e;
}

.error {
    font-size: 12px;
    color: rgb(119, 119, 119);
    margin: -5px 0px -10px 0px;
}

.user__close {
    position: relative;
    right: 0px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 150%;
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

.user__close {
    position: absolute;
    right: 28px;
    top: 18px;
}

.user__title {
    text-align: center;
    margin-top: 44px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 19px;
    color: var(--color-light-white);
}

.user__close {
    width: 28px;
}

.user__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}

.form__item {
    border-radius: 6px;
    padding: 12px 24px;
    background-color: var(--color-light-black);
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-light-white);
}

.form__item:focus {
    border: 1px solid var(--color-dark-purple);
}

.form__password {
    margin-bottom: 10px;
}

.user__button {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
    width: 100%;
    background-color: var(--color-dark-purple);
    padding: 11px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 6px;
}

.user__button:hover {
    background-color: var(--color-light-purple);
}

.user__button__another {
    text-align: center;
    font-size: 17px;
    margin: 0 auto;
    margin-top: 13px;
    color: rgb(119, 119, 119);
    display: flex;
    justify-content: center;
}

.user__button__another:hover {
    color: var(--color-dark-white)
}


@media (max-width: 768px) {
    .user {
        width: 300px;
        padding: 20px 20px 20px 20px;
    }

    .user__close {
        width: 25px;
        right: 20px;
    }



    .form__item {
        border-radius: 6px;
        padding: 8px 14px;
        background-color: var(--color-light-black);
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        color: var(--color-light-white);
    }

    .user__button {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .error {
        font-size: 10px;
    }

    .user {
        width: 265px;
        padding: 20px 10px 20px 10px;
    }

    .user__close {
        width: 25px;
        right: 20px;
    }

    .form__item {
        padding: 8px 14px;
        font-size: 15px;
    }

    .form__password {
        margin-bottom: 0;
    }

    .user__button {
        padding: 9px;
        font-size: 15px;
    }

    .user__button__another {
        font-size: 15px;
        margin-top: 10px;
    }
}