a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

body {
    font-family: var(--font-family);
    background-color: var(--color-light-black);
    color: var(--color-light-white);
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}