:root {
    --container-width: 1315px;
    --container-padding-x: 18px;

    --font-family: "Montserrat", sans-serif;

    --color-white: #ffffff;
    --color-light-black: #212123;
    --color-dark-black: #191919;
    --color-light-purple: #8B57C6;
    --color-dark-purple: #6C3EB8;
    --color-light-white: #F6F6F7;
    --color-dark-white: #B8B8B8;
    --color-light-grey: #616E74;
    --color-dark-grey: #576067;

    --transition-duration: 0.2s;
}