.burgerMenu {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    background-color: #191919ad;
    backdrop-filter: blur(3px);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 30px;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.burgerButton {
    position: relative;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.burgerLine {
    width: 30px;
    height: 3px;
    background-color: var(--color-dark-purple);
    transition: all 0.3s ease;
}





@media (max-width: 1440px) {
    .burgerMenu {
        display: flex;
    }
}

@media (max-width: 768px) {
    .burgerButton {
        width: 30px;
        height: 30px;
    }

    .burgerLine {
        width: 30px;
        height: 3px;
    }
}

@media (max-width: 425px) {
    .burgerButton {
        width: 30px;
        height: 30px;
    }

    .burgerLine {
        width: 30px;
        height: 3px;
    }
}