.header {
    display: flex;
    padding: 29px 0px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 78px;
}

.info {
    display: flex;
    align-items: center;
    column-gap: 220px;
}

.user {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.user__avatar {
    width: 36px;
}

.user__name {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-dark-white);
}

.form__row {
    display: flex;
    column-gap: 16px;
    background-color: var(--color-dark-black);
    padding: 7px 13px;
    border-radius: 6px;
    width: 303px;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-dark-white);
}

.form__box {
    margin-top: 5px;
    background-color: var(--color-dark-white);
    border-radius: 6px;

}

.list {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.list__item {
    position: relative;
}

.list__item img {
    width: 30px;
}

.count {
    position: absolute;
    bottom: -5px;
    right: -3px;
    color: var(--color-light-white);
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 2px 6px;
    border-radius: 100%;
    background-color: var(--color-light-purple);
}

.burgerMenu {
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.burgerButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.burgerLine {
    width: 30px;
    height: 3px;
    background-color: var(--color-dark-purple);
    transition: all 0.3s ease;
}


.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    padding: 20px 0px 20px 50px;
    z-index: 15;
    background-color: #0e0e0e;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 150%;
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}


.burgerList {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.count22 {
    position: relative;
}

.count2 {
    position: absolute;
    bottom: -5px;
    left: 10px;
    color: var(--color-light-white);
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 2px 6px;
    border-radius: 100%;
    background-color: var(--color-light-purple);
}


.menu li {
    margin-bottom: 10px;
}


@media (max-width: 1440px) {
    .header {
        display: none;
    }

    .burgerMenu {
        display: flex;
    }
}