.row {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 21px;
}

.product {
    padding: 24px;
    background-color: var(--color-dark-black);
    border-radius: 6px;
    width: 950px;
}

.product__row {
    display: flex;
    column-gap: 31px;
}

.img__row {
    display: flex;
    column-gap: 20px;
}

.img__column {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.main__img {
    width: 375px;
    height: 375px;
    border-radius: 6px;
}

.column__item {
    width: 91px;
    height: 111px;
}

.column__item img {
    border-radius: 6px;
}

.content__title {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-light-white);
    margin-bottom: 10px;
}

.content__subtitle {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-white);
    margin-bottom: 20px;
}

.params__element {
    column-gap: 24px;
    display: flex;
    align-items: center;
}

.params__list {
    display: flex;
    column-gap: 5px;
}

.list__item {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-light-white);
    padding: 4px 8px;
    background-color: var(--color-light-black);
    border-radius: 6px;
}

.active {
    background-color: var(--color-dark-purple);
}

.content__text {
    width: 338px;
    font-weight: 400;
    font-size: 12px;
    color: var(--color-dark-white);
    margin-bottom: 29px;
    margin-top: 16px;
}

.content__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;
}



.button {
    position: relative;
    padding: 9px 20px;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-dark-grey);
    border-radius: 6px;
}

.quantity {
    position: absolute;
    right: -3px;
    top: -10px;
    background-color: red;
    border-radius: 100%;
    padding: 5px 10px;
}

.button:disabled {
    cursor: auto;
    background-color: #57606756;
    color: #ffffff69;
}

.active {
    background-color: var(--color-dark-purple);
}



@media (max-width: 1440px) {
    .product {
        margin-top: 80px;
    }

    .product {
        width: 100%;
    }
}



@media (max-width: 1024px) {
    .product__row {
        display: flex;
        column-gap: 31px;
    }

    .img__row {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        column-gap: 20px;
    }

    .img__column {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
    }

    .main__img {
        width: 315px;
        height: 315px;
    }

    .column__item img {
        width: 75px;
        height: 75px;
    }

}

@media (max-width: 768px) {
    .product__row {
        column-gap: 25px;
    }

    .img__row {
        row-gap: 8px;
    }

    .img__column {
        column-gap: 10px;
    }

    .main__img {
        width: 255px;
        height: 255px;
    }

    .column__item {
        width: 78px;
        height: 65px;
    }

    .content__title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .content__subtitle {
        font-weight: 700;
        font-size: 20px;
        color: var(--color-light-white);
        margin-bottom: 20px;
    }

    .params__element {
        column-gap: 24px;
        display: flex;
    }

    .params__list {
        display: flex;
        column-gap: 5px;
    }

    .list__item {
        font-weight: 500;
        font-size: 14px;
        padding: 4px 8px;
        border-radius: 6px;
    }

    .content__text {
        max-width: 250px;
    }

    .content__buttons {
        display: flex;
        column-gap: 10px;
        flex-direction: column;
        row-gap: 10px;
    }

    .button {
        width: 100%;
        padding: 9px 20px;
    }
}

@media (max-width: 625px) {
    .product {
        margin-top: 75px;
        margin-bottom: -9px;
    }

    .product__row {
        flex-direction: column;
        row-gap: 35px;
        align-items: center;
    }

    .img__row {
        row-gap: 12px;
    }

    .img__column {
        column-gap: 0px;
    }

    .main__img {
        width: 275px;
        height: 275px;
    }

    .column__item {
        width: 90px;
        height: 65px;
    }

    .content__title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .content__subtitle {
        font-size: 19px;
        margin-bottom: 12px;
    }

    .params__element {
        column-gap: 8px;
    }

    .params__list {
        column-gap: 5px;
    }

    .list__item {
        font-weight: 500;
        font-size: 14px;
        padding: 4px 8px;
        border-radius: 6px;
    }

    .content__text {
        max-width: 250px;
        margin-top: 12px;
        margin-bottom: 15px;
    }

    .content__buttons {
        display: flex;
        column-gap: 10px;
        flex-direction: column;
        row-gap: 10px;
    }

    .button {
        font-size: 15px;
        width: 100%;
        padding: 8px 20px;
    }
}